<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <script src="script/script.js"></script>
</head>

<body>
    <div class="container">
        <div class="heading">
            URL SHORTENER
        </div>
        <div class="form-div">
            <form action="/" id="form" method="POST">
                <input type="url" name="url" id="url" placeholder="Enter url here" required>
                <input type="text" name="slug" id="slug" placeholder="Alias (Optional)" maxlength="7">
                <input type="submit" value="Shorten" id="btn">
            </form>
        </div>
        <% if (outputText) { %>
            <div class="short-url">
                <input type="text" id="input-short-url" value="<%= outputText %>" readonly>
                <button id="copy-btn" onclick="copyFun()">COPY</button>
            </div>
        <% } %>
        <% if (err) { %>
            <div class="error">
                <%= err %> 
            </div>
        <% } %>
    </div>
</body>

</html>